

/* --------------------------------------------------------- */


.card {
  gap: 10px;
  margin-bottom: 20px;
  border: 2px solid red;
  width: 50%;
  margin:  auto;
  margin-top: 20px;
  padding-left: 10px;

}
